// ***GLOBAL VARIABLEAS ***

$content-width: 860px;
// becareful about going anything
$body-color: #333233;

$body-text-color: #efeae1;

$border-style: 1px solid #4E4B4D;

$hover-color:#EBAB00;

$atom-tan:#EFDAB9;

$button-color:#FED153;

$button-border-radius: 5px;
